// main: ../main.scss
/*--------------------------------------------------------------
# About 11 Section
--------------------------------------------------------------*/
.about-11 {
  .image-wrapper {
    position: relative;
    height: 500px;
    width: 100%;

    .main-image {
      border-radius: 10px;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .content-wrapper {
    padding: 20px;

    .badge {
      background-color: color-mix(in srgb, var(--accent-color), transparent 95%);
      color: var(--accent-color);
      font-size: 16px;
      font-weight: 400;
      padding: 10px 20px;
      display: inline-block;
    }

    h2 {
      color: var(--heading-color);
      line-height: 1.2;
    }

    p {
      color: var(--default-color);
      font-size: 18px;
      line-height: 1.6;
    }

    .feature-list {
      li {
        color: var(--default-color);
        font-size: 18px;
        font-weight: 600;
        padding: 10px 0;
        display: flex;
        align-items: center;

        i {
          color: var(--accent-color);
          margin-right: 8px;
          font-size: 20px;
        }
      }
    }

    .custom-btn {
      display: inline-flex;
      align-items: center;
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
      transition: all 0.3s ease;

      .text {
        background-color: var(--accent-color);
        color: var(--contrast-color);
        padding: 18px 24px;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 50px;
        transition: all 0.3s ease;
      }

      .arrow-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--accent-color);
        color: var(--contrast-color);
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-left: 10px;
        transition: all 0.3s ease;

        i {
          font-size: 18px;
          transform: rotate(-45deg);
        }
      }

      &:hover {

        .text,
        .arrow-icon {
          background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
        }

        .arrow-icon {
          transform: translateX(5px);
        }
      }
    }
  }

  @media (max-width: 992px) {
    .image-wrapper {
      height: 400px;
      margin-bottom: 20px;
    }

    .content-wrapper {
      padding: 10px;
    }
  }

  @media (max-width: 768px) {
    .image-wrapper {
      height: 300px;
    }
  }
}